<nav class="navbar navbar-expand-lg" style="background-color: orange">
  <div class="container-fluid">
    <a class="navbar-brand h1 mb-0" href="#">MATRIMONY APP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item me-2">
          <a class="nav-link" style="color: black" aria-current="page" href="{% url 'matrimonyApp:home' %}">Home</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" style="color: black" href="{% url 'matrimonyApp:suggestions' %}">Suggestions</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" style="color: black" href="#">Subscription</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'accounts:logout' %}">
      <button class="btn btn-outline-dark" type="submit">Logout</button>
    </a>
    <button class="btn btn-outline-dark ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menu</button>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
  </div>
  

  <div class="offcanvas-body d-flex flex-column">
    <div class="flex-grow-1">
      <div class="row ms-1">
        <div class="list-group text-end" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'accounts:profile' %}">Profile</a>
          <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'matrimonyApp:parents_details' %}">personal Details</a>
          <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'matrimonyApp:partner_preference' %}">Preference</a>
          <a class="list-group-item list-group-item-action list-group-item-light" href="{% url 'accounts:relationship_type' %}">Switch Account</a>
        </div>
      </div>
    </div>
    <div>
      <div class="list-group text-color-red text-end">
        <a href="{% url 'accounts:logout' %}" class="list-group-item list-group-item-action list-group-item-light" style="color: red">Logout</a>
      </div>
    </div>
  </div>
  