<!-- lifestyle_form.html -->
{% extends 'shared/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2 mt-5 shadow p-4">
    <h1 class="text-center">Update Lifestyle Information</h1>
    <!-- Progress Bar -->
    <div class="progress mb-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" 
           role="progressbar" 
           aria-label="Progress"
           aria-valuenow="{{ user.profile_completed }}" 
           aria-valuemin="0" 
           aria-valuemax="100"
           style="width: {{ user.profile_completed }}%;">
        {{ user.profile_completed }}%
      </div>
    </div>
    
    <form method="post">
      {% csrf_token %}
      {% include 'components/form_field.html' with field=form.smoking_status %}
      {% include 'components/form_field.html' with field=form.drinking_status %}
      <div>
        <!-- <label for="id_hobbies">Hobbies</label> -->
        <div class="checkbox-group">
          {% include 'components/form_field.html' with field=form.hobbies %}
        </div>
      </div>
      <div>
        <!-- <label for="id_interest">Interest</label> -->
        <div class="checkbox-group">
          {% include 'components/form_field.html' with field=form.interest %}
        </div>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success my-3">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
