{% extends 'accounts/shared/accounts_base.html' %}

{% block accounts_content %}
    <h1 class="text-center">Your Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ form.profile_pic.id_for_label }}">Current Profile Pic:</label>
            {% if form.instance.profile_pic %}
                <img src="{{ form.instance.profile_pic.url }}" alt="Current Profile Pic" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </div>
        <div>
            {{ form.profile_pic.label_tag }}
            <input type="file" name="{{ form.profile_pic.name }}" id="{{ form.profile_pic.id_for_label }}" value="{{ form.profile_pic.value }}">
            {% if form.instance.profile_pic %}
                <input type="text" value="{{ form.instance.profile_pic.url }}" readonly>
            {% endif %}
        </div>
        {{ form.as_p }}
        <button type="submit">Update Profile</button>
    </form>
{% endblock accounts_content %}