{% extends 'shared/base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-4 offset-sm-4 mt-5 shadow p-4">
    <h1 class="text-center">Select Relationship Type</h1>
    <!-- Progress Bar -->
    <div class="progress mb-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" 
           role="progressbar" 
           aria-label="Progress"
           aria-valuenow="{{ user.profile_completed }}" 
           aria-valuemin="0" 
           aria-valuemax="100"
           style="width: {{ user.profile_completed }}%;">
        {{ user.profile_completed }}%
      </div>
    </div>
    
    <form method="post">
      {% csrf_token %}
      {% include 'components/form_field.html' with field=form.relationship_type %}
      <div class="d-grid">
        <button type="submit" class="btn btn-success my-3">Next</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
