{% extends 'shared/matrimonybase.html' %}
{% block content %}
<style>
    body {
        background-color: #000;
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
</style>
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="{{PRICING_TABLE_ID}}"
publishable-key="{{STRIPE_PUBLISHABLE_KEY}}"
customer-email="{{CUSTOMER_EMAIL}}"
payment_method_types="{{PAYMENT_METHOD_TYPES}}">
</stripe-pricing-table>
{% endblock %}
