<!-- templates/profile_detail.html -->
{% extends 'shared/matrimonybase.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    {% if profile.profile_pic %}
                    <img src="{{ profile.profile_pic.url }}" alt="{{ profile.get_full_name }}'s profile image" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                    {% endif %}
                    <h5 class="card-title">{{ profile.get_full_name }}</h5>
                    <p class="card-text">{{ profile.age }} years old</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if profile.payment_detail %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Subscription Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Invoice ID : </strong>{{ profile.payment_detail.invoice_id }}</p>
                            <p><strong>Mode : </strong> {{ profile.payment_detail.session_mode }}</p>
                            <p><strong>Payment Type : </strong> {{ profile.payment_detail.payment_method_type }}</p>
                            <p><strong>Payment Intent ID : </strong> {{ profile.payment_detail.payment_intent }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Subscription ID : </strong> {{ profile.payment_detail.subscription_id }}</p>
                            <p><strong>Payment Status : </strong> {{ profile.payment_detail.payment_status }}</p>
                            <p><strong>Plan Status : </strong> {{ profile.payment_detail.status }}</p>
                            <p><strong>Receipt : </strong> <a href="{{ profile.payment_detail.receipt_url}}">{{ profile.payment_detail.receipt_url}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Subscription Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Account Type : </strong>FREE</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>First Name :</strong> {{ profile.first_name }}</p>
                            <p><strong>Location :</strong> {{ profile.parents_details.district }}</p>
                            <p><strong>Age :</strong> {{ profile.age }}</p>
                            <p><strong>Active :</strong> {{ profile.is_active }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Last Name :</strong> {{ profile.last_name }}</p>
                            <p><strong>Username:</strong> {{ profile.username }}</p>
                            <p><strong>Date of Birth :</strong> {{ profile.date_of_birth }}</p>
                            <p><strong>Last Seen :</strong> {{ profile.last_login }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Personal Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Gender:</strong> {{ profile.gender }}</p>
                            <p><strong>Location:</strong> {{ profile.parents_details.district }}</p>
                            <p><strong>Caste:</strong> {{ profile.parents_details.caste }}</p>
                            <p><strong>Religion:</strong> {{ profile.parents_details.religion }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Height:</strong> {{ profile.parents_details.height }} cm</p>
                            <p><strong>Weight:</strong> {{ profile.parents_details.weight }} kg</p>
                            <p><strong>Income:</strong> {{ profile.parents_details.annual_income }}</p>
                            <p><strong>Education:</strong> {{ profile.education_level }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Contact Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>contact No : </strong>{{ profile.phone_number }}</p>
                            <p><strong>Smoking Status : </strong> {{ profile.smoking_status }}</p>
                            <p><strong>Hobbies : </strong> {{ profile.hobbies }}</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Email ID : </strong> {{ profile.email }}</p>
                            <p><strong>Drinking Status : </strong> {{ profile.drinking_status }}</p>
                            <p><strong>Interest : </strong> {{ profile.interest }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Career Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Employment Status : </strong>{{ profile.employment_status }}</p>
                            {% if profile.company_name %}
                            <p><strong>Company Name : </strong> {{ profile.company_name }}</p>
                            <p><strong>Work Location : </strong> {{ profile.work_location }}</p>
                            {% else %}
                            <p><strong>Job Title : </strong>{{ profile.job_title }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p><strong>Designation : </strong> {{ profile.designation }}</p>
                            {% if profile.job_title %}
                            <p><strong>Expert Level : </strong> {{ profile.expert_level }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Activity</h5>
                </div>
                <div class="card-body">
                    <!-- Add recent activity or posts here if needed -->
                    <p>No recent activity to show.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
