<!-- partner_preference_form.html -->
<!-- Include noUiSlider CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">

<!-- Include noUiSlider JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>

<!-- matrimonyApp/partner_preference_form.html -->

{% extends 'shared/matrimonybase.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-sm-2 mt-5 shadow p-4">
        <h1 class="text-center">Partner Preference</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Age Range</label>
                {{ form.age_range }}
            </div>
            <div class="form-group">
                <label>Height Range</label>
                {{ form.height_range }}
            </div>
            <div class="form-group">
                <label>Weight Range</label>
                {{ form.weight_range }}
            </div>
            <div class="form-group">
                <label>Income Range</label>
                {{ form.income_range }}
            </div>
            {% include 'components/form_field.html' with field=form.caste %}
            {% include 'components/form_field.html' with field=form.religion %}
            {% include 'components/form_field.html' with field=form.qualification %}
            <div class="d-grid">
                <button type="submit" class="btn btn-success my-3">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
