<!-- templates/suggestions.html -->

{% extends 'shared/matrimonybase.html' %}
{% block content %}
<style>
    body {
        background-color: #000;
        color: #fff;
    }
</style>
{% if profiles %}
<div class="container mt-2">
    <div class="text mb-2 p-1" style="background-color: black;color: white;">
        <h1 class="text-start animate__animated animate__fadeIn">Suggested Profiles</h1>
    </div>
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-4" style="width: 20%;">
            <div class="card mb-4 shadow-sm animate__animated animate__zoomIn">
                {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" alt="{{ profile.get_full_name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ profile.get_full_name }}</h5>
                    <p class="card-text">Age: {{ profile.age }}</p>
                    <p class="card-text">Location: {{ profile.parents_details.district }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal{{ profile.id }}">
                        View Profile
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="profileModal{{ profile.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ profile.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ profile.id }}">{{ profile.get_full_name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text">Age: {{ profile.age }}</p>
                                <p class="card-text">Caste: {{ profile.parents_details.caste }}</p>
                                <p class="card-text">Religion: {{ profile.parents_details.religion }}</p>
                                <p class="card-text">Height: {{ profile.parents_details.height }} cm</p>
                                <p class="card-text">Weight: {{ profile.parents_details.weight }} kg</p>
                                <p class="card-text">Income: {{ profile.parents_details.annual_income }}</p>
                                <p class="card-text">Education: {{ profile.education_level }}</p>
                            </div>
                            <div class="col-4">
                                <form method="post" action="{% url 'matrimonyApp:send_request' profile.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark mt-2">Send Request</button>
                                </form>
                                <form method="post" action="{% url 'matrimonyApp:exclude_profile' profile.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark mt-2">Don't Show</button>
                                </form>
                                <form method="post" action="{% url 'matrimonyApp:save_profile' profile.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-dark mt-2">Save Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">View Full Profile</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container mt-5">
    <h1 class="text-center">No profiles yet.</h1>
</div>
{% endif %}
{% endblock %}
