<div>
    <label for="{{ widget.attrs.id }}_min">{{ widget.label }}</label>
    <input type="range" name="{{ widget.name }}_min" id="{{ widget.attrs.id }}_min"
           min="{{ widget.attrs.min }}" max="{{ widget.attrs.max }}" step="1"
           value="{{ widget.value_min }}" class="{{ widget.attrs.class }}">
    <input type="range" name="{{ widget.name }}_max" id="{{ widget.attrs.id }}_max"
           min="{{ widget.attrs.min }}" max="{{ widget.attrs.max }}" step="1"
           value="{{ widget.value_max }}" class="{{ widget.attrs.class }}">
    <div>Min: <span id="{{ widget.attrs.id }}_min_value">{{ widget.value_min }}</span></div>
    <div>Max: <span id="{{ widget.attrs.id }}_max_value">{{ widget.value_max }}</span></div>
</div>
<script>
    document.getElementById('{{ widget.attrs.id }}_min').oninput = function() {
        document.getElementById('{{ widget.attrs.id }}_min_value').innerText = this.value;
    }
    document.getElementById('{{ widget.attrs.id }}_max').oninput = function() {
        document.getElementById('{{ widget.attrs.id }}_max_value').innerText = this.value;
    }
</script>
